@import "normalize.less";
@import "helpers.less";

@color: #f8f8ff;

.app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    font-family: 'open_sanslight', sans-serif;
    color: @color;
}

.background-overlay {
    background: url(../assets/background-image-overlay.png) repeat;
    z-index: -1;
}

.background-image {
    background: url("") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -2;
}

.main-nav {
    .gradientBar(rgba(0,0,0,0.29),rgba(0,0,0,0));
    color: @color;
    text-align: center;

    h1 {
        text-transform: uppercase;
        font-weight: 700;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

     a {
         color: @color;
         display: block;
         text-transform: lowercase;
         font-size: 18px;
         padding: 10px 0;
         text-decoration: none;

         .transition(background .25s ease-in-out);

         &:hover, &[hover] {
             background: rgba(0,0,0,0.4);
         }
     }
}

.main-content {
    h2 {
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1.1;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
        text-align: right;
    }
}

button.outline {
    .transparent();
    border: 1px solid @color;
    padding: 13px 30px;

    .transition(background .3s ease-in-out);

    span {
        .transition(color .3s ease-in-out);
        color: @color;
    }


    &:hover, &[hover] {
        background: rgba(255,255,255,1);
        span {
            color: #000000;
        }
    }
}
