<!DOCTYPE HTML>
<html ng-app="MyApp">
<head>
    <title>Famous-Angular</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../../bower_components/famous-angular/dist/famous-angular.css">

    <style>
        .app {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <fa-app class="app" ng-controller="AppCtrl">
    </fa-app>
</div>

<script type="text/javascript" src="../../../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="../../../bower_components/famous/dist/famous-global.js"></script>
<script type="text/javascript" src="../../../bower_components/famous-angular/dist/famous-angular.js"></script>

<script type="text/javascript" src="app.js"></script>

</body>
</html>
